SECRET_KEY=your_secret_name

DEBUG=True_or_False

NAME=name_of_your_database
USER=database_username
PASSWORD=database_password
HOST=database_host
PORT=database_port

ADMINEMAIL=your_admin_email_for_db
ADMINPASSWORD=your_admin_password_for_db

EMAILHOSTUSER=your_email_host_user_for_users
EMAILHOSTPASSWORD=your_email_host_password_for_users

REDISLOCATION=redis://...