<!-- templates/mailing/dashboard.html -->
{% extends 'mailing/base.html' %}
{% block title %}Панель управления{% endblock %}


{% block content %}
<h2>Панель управления</h2>
<div class="row">
    <a href="{% url 'mailing:recipients_list' %}" class="btn btn-primary mb-3">Список получателей</a>
    <a href="{% url 'mailing:messages_list' %}" class="btn btn-primary mb-3">Список сообщений</a>
    <a href="{% url 'mailing:mailings_list' %}" class="btn btn-primary mb-3">Список рассылок</a>
    {% if "users.is_manager" %}
        <a href="{% url 'users:users_list' %}" class="btn btn-primary mb-3">Список пользователей</a>
    {% endif %}
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Всего рассылок</h5>
            <p class="display-6">{{ total_mailings }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Активные рассылки</h5>
            <p class="display-6">{{ active_mailings }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Уникальные получатели</h5>
            <p class="display-6">{{ unique_recipients }}</p>
        </div>
    </div>
</div>
{% endblock %}